# Mac
.DS_Store

# Text editors
*.swp

# Stupid commits of npm package
*.tgz

# My favorite temp backup
*.[0-9]
*.save*
*_save*
*_bak*

# Compiled Executables
jsmin
a.out

# node
node_modules
npm-debug.log
.node-version

test/tmp/*

# Not a fan
package-lock.json

# work in progress folder
local
