.center-it {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.dark-card {
  background-color: #3c3c3c!important;
}

.addBtn {
  font-size: 15px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
}